<mat-card style="width: 80%; margin-left: 2vw;">
  <!-- Action Bar -->
  <div class="operate">
    <button mat-mini-fab color="primary" (click)="openDialog()" aria-label="Button to add new post.">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <!-- DataTable -->
  <table mat-table [dataSource]="postDataSource" matSort>
    <!-- Id Column-->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>編號</th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>標題</th>
      <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
    </ng-container>

    <!-- User Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>作者</th>
      <td mat-cell *matCellDef="let element"> {{ element.userId }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
  </table>

  <!-- Paginator -->
  <mat-paginator #paginator
                 [pageSizeOptions]="[10, 20]"
                 showFirstLastButtons>
  </mat-paginator>
</mat-card>
