<div fxLayout=row class="action">
    <div fxFlex="10">
        <button mat-mini-fab color="primary" (click)="addDevice()" aria-label="A button with a add icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div fxFlex></div>
    <div>
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
        </mat-form-field>
    </div>
</div>

<div class="container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
        <!-- Id Column-->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
            <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="ip">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>IP Addr.</th>
            <td mat-cell *matCellDef="let element"> {{ element.ip }} </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>State</th>
            <td mat-cell *matCellDef="let element"> {{ element.state }} </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="edit(element)">
                    <mat-icon mat-icon-button color='primary'>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delete(element['id'])">
                    <mat-icon mat-icon-button color="warn">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: displayColumns"></tr>

    </table>

    <!-- Paginator -->
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>