<form [formGroup]="deviceForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Device {{ name }}'s Information</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <!-- Name and ip address -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="deviceForm.controls['name'].hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="IP Address" formControlName="ipAddress">
            <mat-error *ngIf="deviceForm.controls['ipAddress'].hasError('required')">
              IP address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Group and model -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Model" formControlName="model">
              <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="deviceForm.controls['model'].hasError('required')">
              State is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Group" formControlName="group">
              <mat-option *ngFor="let state of states" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="deviceForm.controls['group'].hasError('required')">
              Group is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- SNMP related -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="GET Community" formControlName="snmpGetComm">
            <mat-error *ngIf="deviceForm.controls['snmpGetComm'].hasError('required')">
              SNMP get-community  is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="SET Community" formControlName="snmpSetComm">
            <mat-error *ngIf="deviceForm.controls['snmpSetComm'].hasError('required')">
              SNMP set-community  is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="SNMP Port" type="number" formControlName="snmpPort">
            <mat-error *ngIf="deviceForm.controls['snmpPort'].hasError('required')">
              SNMP port is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Description -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
